*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#div1{
  margin-top: 40px;
}
#links{
  margin-left: 150%;
}

#button1{
  margin-left: 600%;
}

#button2{
  margin-left: 1000%;
}

#table1{
  margin-top: 30px;
}
#table2{
  margin-top: 30px;
}
#table3{
  margin-top: 30px;
}

#nav{
  color: #000435;
}

#search{
  margin-top: 20px;
  margin-left: 10%;
}

#con2{
  margin-top: 50px;
  margin-left: 15%;
}